<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>User Invite Email Template</title>
    <meta name="description" content="User Invite Email Template.">
    <style type="text/css">
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }

        a[href] {
            color: #FFF;
        }

        a, a:hover {
            text-decoration: none !important;
        }

        .image-style {
            width: 100%;
            height: auto;
        }

        .email-template-wrap {
            max-width: 500px;
            margin: auto;
            background: #fff;
            text-align: center;
        }

        .email-content {
            max-width: 350px;
            background: white;
            margin: auto;
        }

        .email-content h3 {
            font-weight: 500;
            font-size: 44px;
            color: #363636;
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }

        .email-content p {
            color: #363636;
            text-align: center;
        }

        .reset-password-btn {
            padding: 13px 38px;
            font-weight: 600;
            font-size: 16px;
            color: #FFFFFF;
            background: #2CABE1;
            border-radius: 2px;
            border: 0;
            margin-top: 1rem;
            margin-bottom: 2rem;
            display: inline-block;
        }

        .email-template-footer {
            background: #ECECEC;
            padding: 32px;
            text-align: center;
        }

    </style>
</head>
<body marginheight="0" marginwidth="0" style="margin: 0; background-color: #f2f3f8;">
<div class="email-template-wrap">
    <div class="email-content">
        <h3>User Invite</h3>
        <p>
            Hi,
        </p>
        <p>You’ve been invited to join our portal<br>
        </p>
        <p>
            Click below to set up your account.
        </p>
        <a class="reset-password-btn" style="color:#FFF;" href="{{ frontendUrl }}/register/?token={{token}}" target="_blank">Accept Invite</a>
    </div>
    <div class="email-template-footer">
        Copyright © ${new Date().getFullYear()} CodeDistrict
    </div>
</div>
</body>

</html>

